# URL to backend BFF (default /api prefix in BFF)
NEXT_PUBLIC_API_URL=http://localhost:3001/api

# App config
NEXT_PUBLIC_APP_NAME=Systemregistret

# Domain / base path (för deployment)
DOMAIN_NAME=localhost
NEXT_PUBLIC_BASE_PATH=
